ul {
	top:0;
    left:0;
    right:0;
    bottom:0;
	position:fixed;
    height:8%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f2f2f2;
}

li {
    float: left;
}
li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}
#SU{
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

input, textarea{
	width: 50%;
	max-width: 80%;
	padding: 12px;
	border: 1px solid #009688;
	border-radius: 4px;
	margin-top: 6px;
	margin-bottom: 16px;
}
.container {
	position: absolute;
	text-align: center;
	margin-left: 22%;
	border-radius: 5px;
	width: 50%;
	background-color: #f2f2f2;
	padding: 20px;
  margin-top: 5%;
  margin-bottom: 12px;

}
.sub {
	background-color: #009688;
	color: white;
	padding: 8px 23px;
	text-align: center;
	font-size: 20px;
	font-family: ubuntu;
	margin: 4px 2px;
	cursor: pointer;
	width: 35%;
}

.cls {
  margin-top:5% ; 
}

.cls2{
	font-weight: bold;
	border: 5px solid black;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	background-color: #f2f2f2;
	width: 300px;
	max-width: 270px;
	height: 200px;
	margin: auto;
	text-align: center;
	font-family: arial;
	padding: 1px;
	border-radius: 5px;
}

.containers {
  padding: 0 16px;
}

.containers::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  font-weight: bold;
  color: black;
  font-size: 18px;
  text-align: left;
}

.title1 {
  color: black;
  font-size: 18px;
}

.title2 {
  font-weight: bold;
  color: black;
  font-size: 18px;
  text-align: left;
  padding-bottom:100px;
  padding-top: 100px;
}
.title3 {
  font-weight: bold;
  color: black;
  font-size: 18px;
  text-align: left;
  padding-bottom:100px;
  padding-top: 130px;
  padding-left: 40px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
.content{
    margin-top: 5.5%;
    margin-bottom: -5%;
    text-align: center;
    width: 93,5%;
    padding: 25px 50px 40px 30px;
    background-color: #ddd;
    font-size: 120%;
    color: black;
    border-radius: 20px;
}
#logo{
  width: 1200px;
  height:160px;
  border-radius: 10px;
}
#door{
  width: 400px;
  height: 300px;
  float: left;
  border-radius: 10px;
  margin-right: 10px;
}
#roof{
  width: 400px;
  height: 300px;
  float: right;
  border-radius: 10px;
}

#mumen{
  width: 400px;
  height: 300px;
  float: right;
  border-radius: 10px;
  display: block;
  padding-left: 30px;
}

#ajaj{
  width: 260px;
  height: 350px;
  float: left;
  border-radius: 10px;
  display: block;
  padding-right: 30px;
}