{% extends "base.html" %}

{% block body %}
	<link rel="stylesheet" type="text/css" href="../static/style.css">

<body bgcolor="#009688">
<center>
		<div class="container">

			<h1>Posting form</h1>
			<form action="/feed" method="POST">

				<label>User name</label><br>
				<input type="text" name="us_name" required autocomplete="off"  placeholder="User name"><br>

				<label>The post</label><br>
				<textarea type="text" name="post" required autocomplete="off"  placeholder="Write your post here"></textarea><br>

				<input class="sub" title="Post" type="submit" value="Post"><br><br>
			</form>

			{% for pos in post %}
			<div class="cls2">
				<p class="cls3">Posted by {{pos.us_name}}</p>
				<p class="cls3">{{pos.post}}</p>
				<p class="cls3">{{pos.time}}</p>
			</div><br>
			{% endfor %}



		</div>
</center>
</body>
{% endblock %}