{% extends "base.html" %}

{% block body %}
	<link rel="stylesheet" type="text/css" href="../static/style.css">


<div class="content">

	<img src="../static/code_logo.png" id="logo">
	<img src="../static/door.jpg" id="door">
	<img src="../static/roof.jpg" id="roof">

	<p class="title">Code for Palestine is a three year-long program, beginning the summer before 10th grade and concluding after 12th grade. Each year has many sessions but is kicked off by a two-week camp during the summer in Jericho in Palestine. Volunteer undergraduate instructors from Stanford University have served as the primary teachers during the two-week summer camp. During the sessions the best in Palestine  have worked as teachers. This program is very important because many of students learn progrmming and other skills or improve their skills in programming
	</p>



</div>

<div class="content">

	<h1>Made by </h1>

	<img src="../static/mumen.jpg" id="mumen">

	<p class="title2">My name is Mumen Alkhatib. I am fifteen year-old from Nablus. I am a proud member of Wecode Palestine where we learn about programming. I am currently a 11th grader at Islamic Secondary School. I love playing football and i love swimming and taking photos.   Passion drives me and I totally believe that the future is awesome!
	</p>

	<img src="../static/ajaj.jpg" id="ajaj">

	<p class="title3">Ibraheem is 16 years teenager who has a dream to become a professional programmer so he started learning about computers and how it works and what makes it compatible with our life.

	In the age of 14 he started to learn about computers and programming and a small informations about it through his brother,his brother was studying computer engineering and helped him to learn more and help him in (Code For Palestine) program
	</p>


</div>


{% endblock %}
