{% extends "base.html" %}

{% block body %}
	<link rel="stylesheet" type="text/css" href="../static/style.css">

<body bgcolor="#009688">

<center>
		<div class="container">
			<h1>Sign up form</h1>
			<form action="/register" method="POST">

				<label>First name</label><br>
				<input type="text" name="f_name" required autocomplete="off"  placeholder="First name"><br>

				<label>Last name</label><br>
				<input type="text" name="l_name" required autocomplete="off"  placeholder="Last name"><br>

				<label>Email</label><br>
				<input type="email" name="n_email" required autocomplete="off"  placeholder="E-mail"><br>

				<label>Password</label><br>
				<input type="password" name="password" required autocomplete="off" placeholder="Password"><br>

				<label>User name</label><br>
				<input type="text" name="us_name" required autocomplete="off"  placeholder="User name"><br>

				<label>Personal website link</label><br>
				<input type="url" name="w_site" required autocomplete="off"  placeholder="Website"><br>

				<input class="sub" title="Sign up" type="submit" value="Sign up"><br><br>
			</form>
			
		</div>
</center>
</body>
{% endblock %}